<!--the page after the Participant finishid all the tasks -->
<div class="container" >
<div>
  <h1 style='text-align: center'><b>Free Text Questions</b></h1>
</div>
 <div class="container">
     <div class="row">
        <p style='text-align: center'>Now we would like to ask you some questions about what led you to write your code in the way you chose to. </p>
    </div>
    <div class="col-12" style="text-align: center">
     <!--change the href value to the relevant page you want-->
    <a href="/" class="btn btn-primary btn-lg" type="button" id="back">Back</a>
    <a href="/" class="btn btn-primary btn-lg" type="button" id="toQuest">Submit</a>

    </div>

</div>
