<!--Here you can change the content of the home page -->

<h1 style='text-align: center'>Welcome to our experiment, it's nice to meet you!</h1>
<h2 style='text-align: center'>First, some information about the experiment</h2>
<br>
<p >The purpose of this study is to understand how people write code.</p>
<p>All data will be handled according to the General Data Protection
  Regulations and will be kept anonymous (no Participant ID, no IP address) will be shared online in accordance with open-science practices. If you do not consent to de-identified data being shared will not appear in any publication related to this study and will not be shared with any other parties). The legal basis for processing your data is your consent.</p>
  <br>
<p>All data will be handled according to the General Data Protection Regulations and will be kept anonymous.. The legal basis for processing your data is your consent. Completely de-identified datafiles (no Participant ID, no IP address) will be shared online in accordance with open-science practices. If you do not consent to de-identified data being shared, please close your browser window and do not submit the task. By continuing, you are consenting to allow the Social Decision Lab to use your responses in the study for academic purposes and consenting for your anonymized data to be shared.</p>
<br></br>
<p>If you do not wish to participate, or if you change your mind during the course of the study, please close your browser window, and do not submit the task.</p>

<br>
<p>
  Additional information <br>
  Itamar Lachman<br>
  Department of Information Systems<br>
  University of Haifa<br>
  199 Aba Khoushy Ave.<br>
  Mount Carmel, Haifa, Israel.<br>
  ilachm03@campus.haifa.ac.il<br>
</p>
<!--Button to start the experiment after loging in -->
<div style="text-align: center">
{{#if user}}
  <a href="/consent" class="btn btn-primary btn-lg">Next</a>
{{/if}}
</div>
